.background-img {
    background: linear-gradient(rgba(44, 8, 8, 0.5), rgba(3, 3, 115, 0.4)), url(../../Image/back.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;
    overflow: hidden;
}

.background-image2 {
    background: linear-gradient(rgba(44, 8, 8, 0.5), rgba(3, 3, 115, 0.4)), url(../../Image/back3.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;
    overflow: hidden;
}

.banner-text-1 {
    margin-left: 180px;
    padding: 30px;
}

.banner-text-2 {
    margin-right: 180px;
    padding: 30px;
}

.text:hover {
    transform: scale(1.1);
    transition: transform, 2s;
}

.box-height {
    height: 320px;
}

.cursor {
    cursor: pointer;
}

.btn:hover {
    background-color: #0B5ED7;
    color: white;
}

.review-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.chat {
    width: 100%;
}